{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<div style="display: inline-block;">

    <div class="large-image-container">
        <img style="width: 400px;" src="{% static 'imgs/AIRBNB1.jpg' %}" alt="Large Image">
    </div>

    <div class="large-image-container2">
        <img style="width: 400px;" src="{% static 'imgs/AIRBNB1.jpg' %}" alt="Large Image">
    </div>

</div>

<div style="display: inline-block; margin-left: 0;">

    <img class="smallimg" src="{% static 'imgs/AIRBNB2.jpg' %}" alt="Small Image">


    <img class="smallimg" src="{% static 'imgs/bed.jpg' %}" alt="Small Image">



    <img class="smallimg" src="{% static 'imgs/AIRBNB3.jpg' %}" alt="Small Image">



    <img class="smallimg" src="{% static 'imgs/outside.jpg' %}" alt="Small Image">

</div>
<hr>
<br>
<div class="location-container">
    <div class="map-container">
        <!-- Add your map content here -->
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.174359984683!2d-122.08399268482873!3d37.42199987980838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7e4f92a22a0f%3A0x1e5576d1d9b09b47!2sGolden%20Gate%20Bridge!5e0!3m2!1sen!2sus!4v1624638952174!5m2!1sen!2sus"
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="paragraph-container">
        <div class="paragraph-content">
            <p class="t1">About</p>

            <p class="p1"> Lo Simple is a Bed & breakfast, with a less is more aesthetic.
                To read more go to our <button>About Page</button>
                Lo Simple translates to “Be Simple” in English. The minimalistic aesthetic is designed for you to simply
                relax,
                rejuvenate & be in peace.
                It is located in quiet surroundings in the beautiful city of Barcelona.
                We describe it as a quiet escape.
                Room info below.
            </p>
            <ul>
                <li>2 bedrooms</li>
                <li>1 Kitchen</li>
                <li>1 bathroom</li>
                <li>1 Toilet</li>
                <li>Outside relaxation area</li>
                <li>Big living space</li>
            </ul>


        </div>
    </div>
</div>
{% endblock %}