{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}">
<!-- The modal -->
<div class="modal" id="imageModal">
    <span class="close-modal">&times;</span>
    <img class="modal-content" id="modalImage">
</div>

{% for hotel in hotels %}


<div class="hotel-container">
    <div class="description-container">
        <div style="background-color:#FFDAB9; width: 655px; height: 400px;">
            <div style="height: 350px; align-items: center;">
                <br><br>
                <p style="color: #973c54;">
                <div class="hotel_name">
                    <strong>{{ hotel.name }}</strong>

                </div>
                </p>
                <br>
                <p style="color: #973c54;">
                <div class="Hotel_Descrip">
                    {{ hotel.id }}
                    {{ hotel.description }}
                </div>
                </p>
            </div>

            <div style="height: 50px;">
                <button class="book-button"> <a class="book-button" href="{% url 'booking:book_hotel' hotel.id %}">
                        Book</a></button>
            </div>
        </div>
    </div>
    <div class="image-container">
        <div style="background-color: #FFDAB9; width: 468px; height: 400px;">
            <img src="{{ hotel.image.url }}" alt="{{ hotel.name }}" width="100%" height="100%">
        </div>
    </div>
</div>
<hr style="color: #5f233f;">
{% endfor %}

{% endblock %}