{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

<div class="account-container">
    <div class="inner-container">
        <h2>Login</h2>
        <hr>
        <br>
        <div class="existing-account">
            <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
        </div>
        <br>
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <!-- Display validation errors for specific fields -->
                {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
                {% endif %}

                {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
                {% endif %}

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}