body {
    margin: 0;
    padding: 0;
    font-family: "Clarendon LT", "Lulo Clean", Georgia;
    background-color: #FFFAFA;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    width: 145px;
    height: 145px;
    background: url("{% static 'images/logo.png' %}") no-repeat;
    background-size: cover;
    /* Add any additional logo styles as needed */
}

nav {
    background-color: #FFDAB9;
    color: #fff;
    padding: 10px;
    margin-top: 30px;
    position: absolute;
    left: 0;
    font-family: "Clarendon LT", "Lulo Clean", Georgia;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav ul li a {
    color: #973c54;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #89CFF0;
}

main {
    padding: 20px;
}

/* Styles for dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #973c54;
    z-index: 1;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #973c54;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #89CFF0;
}

.title {
    margin-left: 500px;
    font-size: 80px;
    color: #973c54;
    font-family: "Clarendon LT", "Lulo Clean", Georgia;
}

.socialbuttons {
    font-size: 16px;
}


.text5 {
    color: black;
    font-family: "Clarendon LT", "Lulo Clean", Georgia;

}

.contact_form {
    color: #973c54;
    margin-top: 30px;
    font-family: "Clarendon LT", "Lulo Clean", Georgia;

}

.form_button:hover {
    color: #6495ed;
    background-color: #89CFF0;
}

.form_button {
    background-color: whitesmoke;
    border: 1px solid #89CFF0;
    color: #973c54;
}

.id_first_name,
.id_message,
.id_last_name,
.id_email {

    font-family: "Clarendon LT", "Lulo Clean", Georgia;
}

.back_button {
    background-color: whitesmoke;
    border: 1px solid #89CFF0;
    color: #973c54;
}

.back_button:hover {
    color: #6495ed;
    background-color: #89CFF0;
}


@media screen and (max-width: 718px) {
    .title {
        font-size: 25px;
    }

}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a i {
    width: 30px;
    height: 30px;
}


@media screen and (max-width: 600px) {
    body {
        max-height: 400px;

    }

}

@media screen and (min-width : 320px) and (max-width : 480px) {
    body {
        max-height: 400px;
    }
}