body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFAFA;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    width: 145px;
    height: 145px;
    background: url("{% static 'images/logo.png' %}") no-repeat;
    background-size: cover;
    /* Add any additional logo styles as needed */
}

nav {
    background-color: #FFDAB9;
    color: #fff;
    padding: 10px;
    margin-top: 30px;
    position: absolute;
    left: 0;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav ul li a {
    color: #973c54;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 255);
}

main {
    padding: 20px;
}

/* Styles for dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #973c54;
    z-index: 1;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #973c54;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #89CFF0;
}

.title {
    margin-left: 500px;
    font-size: 80px;
    color: #973c54;
}

.socialbuttons {
    size: large;
}

@media screen and (max-width: 1172px) {
    .title {
        font-size: 40px;
        position: relative;
    }

}