body {
    margin: 0;
    padding: 0;
    font-family: Clarendon LT, Lulo Clean, Georgia;
    background-color: #FFFAFA;
}

.hotel-container {
    width: 1124px;
    height: 438px;
    display: flex;
}

.description-container {
    width: 655px;
    height: 400px;
    text-align: center;
}

.book-button {
    margin-top: 10px;
    background-color: #5f233f;
    color: azure;
}

.book-button:hover {
    color: #6495ed;
    background-color: #89CFF0;
}

.image-container {
    width: 468px;
    height: 400px;
}


.hotel_name {
    color: #973c54;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    font-family: Clarendon LT,
        Lulo Clean, Georgia;
    margin-top: 15px;
}

.Hotel_Descrip {
    font-family: Clarendon LT,
        Lulo Clean, Georgia;
    color: #973c54;
    font-size: medium;
    margin-top: 0px;
    margin-bottom: 10px;
    max-height: 50px;
    overflow: auto;

}


.list1 {
    color: #973c54;
    font-family: Clarendon LT,
        Lulo Clean, Georgia;
    margin-top: 10px;
    font-size: 18px;
    margin-top: 25px;
    text-align: center;
}

.text1 {
    color: #973c54;
}

.location-container {
    width: 1124px;
    height: 438px;
    display: flex;
}

.map-container {
    width: 655px;
    height: 400px;
}

.map-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paragraph-container {
    width: 468px;
    height: 400px;
    background-color: #FFFAFA;
    padding: 20px;
}

.paragraph-content {
    color: #333;
    font-size: 16px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: #333;
    margin-left: 5px;
}

.about_button:hover {
    color: #6495ed;
    background-color: whitesmoke;
}

.about_button {
    background-color: whitesmoke;
    border: 2px solid #6495ed;
}

.iconstars {
    font-size: 75px;
    color: gold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bold,
.fa-solid {
    color: black;
    font-family: Clarendon LT,
        Lulo Clean, Georgia;
}