.location-container {
    width: 1124px;
    height: 438px;
    display: flex;
}

.map-container {
    width: 655px;
    height: 400px;
}

.map-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paragraph-container {
    width: 468px;
    height: 400px;
    background-color: #FFDAB9;
    padding: 20px;
}

.paragraph-content {
    color: #333;
    font-size: 16px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: #333;
    margin-left: 5px;
}


.large-image-container {
    width: 600px;
    height: 400px;
    margin-right: 0px;
    float: right;
    margin-top: 10px;
}

.large-image-container2 {
    width: 600px;
    height: 425px;
    margin-right: 0px;
    float: left;
    margin-top: -400px;
    display: flex;
    opacity: 0.5;
    margin-left: 150px;
}

.smallimg {
    margin-top: 100px;
    max-width: 200px;
    height: 250px;
    max-height: 250px;
    width: 200px;
}

.p1 {
    color: #973c54;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    font-size: 18px;
    margin-top: 85px;
}


.about_button:hover,
.book_button:hover {
    color: #6495ed;
    background-color: #89CFF0;

}

.about_button,
.book_button {

    background-color: whitesmoke;
    border: 2px solid #6495ed;
    color: #973c54;

}