.account-container {
    width: 1110px;
    height: 624px;
    background-color: #ADD8E6;
    font-family: 'Clarendon LT',
        'Lulo Clean', Georgia;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    margin: 0 auto;
}

.form-container {
    width: 550px;
    height: 500px;
    background-color: #FFDAB9;

    padding: 20px;
    border: 1px solid #612641;
    text-align: center;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.btn {
    color: #fff;
    background-color: #612641;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Clarendon LT', 'Lulo Clean', Georgia;
}

.btn_signup {
    background-color: whitesmoke;
    border: 1px solid #89CFF0;
    color: #973c54;
}

.btn_signup:hover {
    color: #6495ed;
    background-color: #89CFF0;
}